@font-face {
    font-family: "Nimbus Sans Extended D";
    src: url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/NimbusSansExtD-Bold.woff2) format("woff2"), url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/NimbusSansExtD-Bold.woff) format("woff");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Nimbus Roman D";
    src: url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/NimbusRomanD-Regular.woff2) format("woff2"), url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/NimbusRomanD-Regular.woff) format("woff");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Farfetch Basis";
    src: url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/FarfetchBasis-Regular.woff2) format("woff2"), url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/FarfetchBasis-Regular.woff) format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Farfetch Basis";
    src: url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/FarfetchBasis-Bold.woff2) format("woff2"), url(https://cdn-static.farfetch-contents.com/cdn-content/fonts/FarfetchBasis-Bold.woff) format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
  }
  :root {
    --fontNormal: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  }
  
  body,
  html {
    font-family: var(--fontNormal);
  }
#box{
    display: flex;
    margin: 10% 0;
    /* border:  1px solid red; */
 }
#shopping{
    display: flex;
    margin: auto;
    font-weight: bold;
    font-family: sans-serif;
}
#box1{
    justify-content: end;
    margin-top: 30px;
    margin-right: 50px;
    color: rgb(234, 226, 226);

}

/* Return policy */

#return{
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    margin-top: 70px;
    background-color : rgb(246, 239, 239);
}
#return>div{
    margin: 20px;
    text-align: center;
    width: 22%;
}
#return >div>p{
     margin-top:-10px ;
     /* color: red; */
}

.svgimg{
    width: 30px;
}


#help{
    display: flex;
    background-color : rgb(246, 239, 239);

    margin-top: 40px;


}

#need{
    width: 45%;
    margin-left: 40px;
    margin-right: 20px;
}
 #call{
    width:20%;
    /* border: 1px solid red; */
    /* margin-top: 20px; */
    margin-right: 20px;

 }
#call >p{
   width: 60%;
}
 #call >div{
    display: flex;
 }
 #call>div>svg{
    padding-right:10px ;
 }

#email{
   width: 10%;
}
#email >div{
    display: flex;
    
}

#email >div>svg{
    padding-right: 10px;
}

.num+p{
    color: rgb(97, 92, 92);
}

#main{
    display: flex;

    width: 100%;
    /* height: 300px; */
    /* border: 1px solid red; */
}
#checkout{
    display: block;
    height: auto ;
    border-top: 1px solid rgb(168, 165, 165);
    width: 70%;
    /* border: 2px solid green; */

}
#big{
    display: block;
    width: 100%;
     margin-top: 20px;
    /* border: 1px solid black */
}
#big>div{
    margin-left: 70px;
    margin-top: 50px;
}
#checkout >div{
    border-bottom: 1px solid rgb(168, 165, 165);
    width: auto;
    display: flex;
    
    height: 200px;
}
#check{
    width:25% ;
    margin-left: 50px;
    margin-top: 40px;

    /* border: 1px solid black; */
}

.sub{
     font-weight: 400;
     margin-left:5px;
}

#checkoutbutton{
    width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    vertical-align: middle;
    background-color: rgb(28, 28, 28);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    
}
#innerimg{
 margin-top: 10px;
    width: 15%;
    height: 170px;
}

#subtotal{
 display: flex;
 justify-content: space-between;
}

#delivery{
    display: flex;
    justify-content: space-between;
}

#total{
    display: flex;
    justify-content: space-between;
}

#cross{
    width: 30px;
    height: 30px;
    margin-left: 150px;
}
#semi{
    margin-right: 40px;
}
#delhi{
    margin-right: 40px;
   
}
#finalP{
    margin-right: 40px;
}
#empty{
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

#shop{
    display: flex;
    margin: auto;
    background-color: rgb(28, 28, 28);
    color: white;
    vertical-align: middle;
  /* width: 150px;
  height: 50px; */
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 400;
  text-align: center;
}
